body{
    background-color: #121212;
    color: var(--bs-light);
}

.bg-surface1{
    background-color: var(--bs-gray-800);
}

.bg-custom{background-color: darkorange;}

h1, h2, h3, h4, h5 {text-align: center;}

.col1 p, .col2 p{
    display: block;
}

#shared-content{
    display: none;
}

#shared-content .col{
    display: none;
}

p {margin-bottom: 10px;}

/* pre {
    color: #d4d4d4; 
    background-color: #1e1e1e;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-family: Consolas, 'Courier New', monospace;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-left: 0px;
    margin-bottom: 8px;
}

code {
    font-family: Roboto Mono, monospace;
    color: var(--bs-light);
    background-color: rgba(0, 0, 0, 0.2);
} */

/* .nav-pills a {
    padding-top: 5px;
    padding-bottom: 5px;
} */

/* @media only screen and (min-width: 576px) {
    #scrollspy {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    #scrollspy {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 992px) {
    #scrollspy {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1200px) {
    #scrollspy {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
} */
/*
@media only screen and (min-width: 1400px) {
    #scrollspy {
        margin-left: 82px;
    }
}
*/